.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    border: none;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    background-color: teal;
    color: #fff;
    padding: 10px;
    border: none;
}

.form__button:hover{
    border: 1.5px solid #292929;
    cursor: pointer;
}

.form__input {
    flex-basis: 78%;
    padding: 10px;
}

.form__input:hover {
    border:  1.5px solid #292929;
    cursor: pointer;
}

.list__items {
    display: grid;
    grid-template-columns:  auto 1fr auto;
    text-decoration: none;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.list__button {
    width: 21px;
    height: 21px;
    border: none;
    text-decoration: none;
    background-color: rgb(22, 143, 22);
}

.list__button--done {
    background-color: rgb(22, 143, 22);
    text-decoration: none;
    border: none;
    color: #fff;
}

.list__button--delete {
    background-color: crimson;
    color: #fff;
    order: 1;
    width: 21px;
    height: 21px;
    border: none;
}
