.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    background-color: teal;
    color: #fff;
    padding: 10px;
    border: none;
    transition: 0.5s;
}

.form__buttons {
    color: teal;
    padding: 10px;
    transition: 0.5s;
    border: none;
    background: #fff;
}

.form__buttons--hidden{
    display: block;
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
}

.form__button--input:hover {
    background: hsl(180, 100%, 30%);
    transform: scale(1.1);
    cursor: pointer;
}

.form__buttons--listHeader:disabled{
    color: rgb(189,189,189);
    cursor: not-allowed;
}

.form__button--input:active{
    border: none;
    color: #fff;
    padding: 10px;
    background: hsl(180, 100%, 35%);
}